mixin styles(...styles)
	each css in styles
		link(rel="stylesheet", href=css)

mixin scripts(...scripts)
	each js in scripts
		script(src=js)

mixin description(desc)
	meta(name="description" content=desc)

mixin keywords(keys)
	meta(name="keywords" content=keys)

//- mixin social(items,type)
//- 	if type===undefined
//- 		each item in items
//- 			li.social__item
//- 				a(href=item.href)
//- 					include ../../images/social/vk.svg
//- 	else
//- 		each item in items
//- 			li.social__item(class=type)
//- 				a(href=item.href)
//- 					include ../../images/social/vk.svg

mixin menu(items,li,a)
	each item in items
		li(class=li)
			a(class=a, href=item.href)=item.name

mixin date(date, time)
	.date
		|#{date}
		include ../../images/icons/clock.svg
		|#{time}

mixin main__item(items)
	each item in items
		a(class='main__item', href="#", id=item.id)
			if item.img===''
				figure
					figcaption=item.fig
				.main__content
					+date(item.date, item.time)
					p.main__text=item.text
				.main__overlay.main__overlay_no-img
					+discuss(item.discuss,item.like, item.dislike, item.view, item.comment)
			else
				figure
					img(src="images/main/" + item.img + ".png", alt=item.alt)
					figcaption=item.fig
					.main__overlay
						+discuss(item.discuss,item.like, item.dislike, item.view, item.comment)
				.main__content
					+date(item.date, item.time)
					p.main__text=item.text

mixin discuss(type,like,dislike,view,comment)
	if type===undefined
		type=''
		.discuss
			.discuss__item.discuss__item_like
				include ../../images/icons/like.svg
				span.discuss__number #{like}
			.discuss__item.discuss__item_dislike
				include ../../images/icons/dislike.svg
				span.discuss__number #{dislike}
			.discuss__item.discuss__item_view
				include ../../images/icons/view.svg
				span.discuss__number #{view}
			.discuss__item.discuss__item_comment
				include ../../images/icons/comment.svg
				span.discuss__number #{comment}
	else
		.discuss(class=type)
			.discuss__item.discuss__item_like
				include ../../images/icons/like.svg
				span.discuss__number #{like}
			.discuss__item.discuss__item_dislike
				include ../../images/icons/dislike.svg
				span.discuss__number #{dislike}
			.discuss__item.discuss__item_view
				include ../../images/icons/view.svg
				span.discuss__number #{view}
			.discuss__item.discuss__item_comment
				include ../../images/icons/comment.svg
				span.discuss__number #{comment}


mixin sidebar__item(items)
		each item in items
			div.sidebar__item(class=item.class)
				if item.class==='sidebar__item-news'
					span.number=item.num
					+date(item.date, item.time)
					p.sidebar__text=item.text
					+discuss('',item.like, item.dislike, item.view, item.comment)
				else
					+date(item.date, item.time)
					p.sidebar__text=item.text
					+discuss('',item.like, item.dislike, item.view, item.comment)

