mixin styles(...styles)
	each css in styles
		link(rel="stylesheet", href=css)

mixin scripts(...scripts)
	each js in scripts
		script(src=js)

mixin description(desc)
	meta(name="description" content=desc)

mixin keywords(keys)
	meta(name="keywords" content=keys)

mixin menu(items,li,a)
	each item in items
		li(class=li)
			a(class=a, href=item.href)=item.name

mixin date(date, time)
	.date
		|#{date}
		include ../../images/icons/clock.svg
		|#{time}

mixin news__item(items)
	each item in items
		if item.img===''
			div(class='news-item news-item_no-img', href="#", id=item.id)
				a.news-item__link-wrap(href='#')
					.news-item__img
					.news-item__content
						+date(item.date, item.time)
						.news-item__text=item.text
					+discuss(item.discuss,item.like, item.dislike, item.view, item.comment)
				a.tag.tag_news-item(href='#')=item.tag
		else
			div(class='news-item', href="#", id=item.id)
				a.news-item__link-wrap(href='#')
					.news-item__img
						img(src="images/news/" + item.img + ".png", alt=item.alt)
						.news-item__overlay
						+discuss(item.discuss,item.like, item.dislike, item.view, item.comment)
					.news-item__content
						+date(item.date, item.time)
						.news-item__text=item.text
				a.tag.tag_news-item(href='#')=item.tag


mixin discuss(type,like,dislike,view,comment)
	if type===undefined
		type=''
		.discuss
			.discuss__item
				.discuss__icon.discuss__icon_like
					include ../../images/icons/like.svg
				.discuss__number #{like}
			.discuss__item
				.discuss__icon.discuss__icon_dislike
					include ../../images/icons/dislike.svg
				.discuss__number #{dislike}
			.discuss__item
				.discuss__icon.discuss__icon_view
					include ../../images/icons/view.svg
				.discuss__number #{view}
			.discuss__item
				.discuss__icon.discuss__icon_comment
					include ../../images/icons/comment.svg
				.discuss__number #{comment}
	else
		.discuss(class=type)
			.discuss__item
				.discuss__icon.discuss__icon_like
					include ../../images/icons/like.svg
				.discuss__number #{like}
			.discuss__item
				.discuss__icon.discuss__icon_dislike
					include ../../images/icons/dislike.svg
				.discuss__number #{dislike}
			.discuss__item
				.discuss__icon.discuss__icon_view
					include ../../images/icons/view.svg
				.discuss__number #{view}
			.discuss__item
				.discuss__icon.discuss__icon_comment
					include ../../images/icons/comment.svg
				.discuss__number #{comment}


mixin sidebar__item(items)
		each item in items
			div.sidebar__item(class=item.class)
				if item.class==='sidebar__item_news'
					.sidebar__date
						.number=item.num
						+date(item.date, item.time)
					.sidebar__text=item.text
					+discuss('',item.like, item.dislike, item.view, item.comment)
				else
					.sidebar__date
						+date(item.date, item.time)
					.sidebar__text=item.text
					+discuss('',item.like, item.dislike, item.view, item.comment)

